{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center">
  <div class="row">
    <div class="col-10  col-lg-6 ml-auto mr-auto ">
      <h1>{{ title }}</h1>


      <img src="{% static 'img/towtruck.jpg' %}" class="img-fluid" alt=""><br>
      <hr>

      <br>
      Golden State Towing's goal is to provide our coustomers with excellent service.</p>
      <p>Here at Golden State Towing we take pridein holding our fleet and <br>drivers to the highest stansards of the
        towing industry to provide <br>you with profesional and courtious service.</p> <br>
      <p>We are a member of the California Tow Truck Association. This <br>Association is responsible for setting the
        standards for the <br>toiwing industry, to insure safe and profesional service.</p> <br>

      <p>We offer a variety of services to take care of all your needs</p>
      <hr>
      <h5>Road Services</h5>
      <p>Jump Start <br>Tire Change <br>Lock Out <br>Fuel Delivery</p>


      <hr>
      <h5>Towing</h5>
      <p>Local and Long distance towing at resonable rates. We equipt our <br>car cariers with nylon straps to secure
        you car without touching the suspention.</p> <br>
      <p>We have the ability to transport equiptment up to 10,000 lbs</p>
      <hr>
      <h5>Off Road Recovery</h5>
      <p>We offer offroad recovery services in the case if your car or equiptment is stuck offroad</p>
      <hr>
      <h5>Private Property Removal</h5> <br>
      <h5>Contact us</h5>

    </div>
  </div>
</div>
{% endblock %}