{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="container">
  <div class="row">
    <div class="col-6 text-center py-5 mr-auto ml-auto">
      <h5>Create New Damage Profile</h5>
      <hr>
        <form method="POST"> {% csrf_token %}
            {{ form.as_p }}
          <input type="submit" value="Save" />
        </form>

    </div>
  </div>
</div>

{% else %}
<div class="container">
  <div class="row">
    <div class="col py-3 text-center">
      <h3>404 Not found</h3>
      
    </div>
  </div>
</div>

{% endif %}

{% endblock %}