<div class="card ml-auto mr-auto" style="width: 18rem;">
  {% if instance.photo_main %}
    <img src="{{ instance.photo_main.url }}" class="card-img-top" alt="{{  instance.lot_num }}">
    {% endif %}
    <div class="card-body ">
      <h5 class="card-title">{{ instance.year }} {{ instance.item }}
        {{ instance.make }}  
        {{ instance.model }} </h5>  
      <p class="card-text">${{ instance.price }}.00 </p>
      <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">Details</a>
      
    </div>
  </div>