{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container">
  <div class="col-10">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Driver</th>
          <th scope="col">Paid Calls</th>
          <th scope="col">Over 60</th>
          <th scope="col">Avg Tos</th>
          <th scope="col">Missing OL</th>
        </tr>
      </thead>
      {% for obj in driver_sats %}
      <tbody>
        <tr>
          <th>{{obj.name}}</th>
          <td>{{obj.paidCalls}}</td>
          <td>{{obj.rt60}}</td>
          <td>{{obj.tos}}</td>
          <td>{{obj.missingOl}}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    {% for obj in sats %}
  Month: {{ obj.month}} <br>
  Overall Sat: {{ obj.overall}} <br>
  Driver sat: {{ obj.driver}} <br>
  KMI Sat: {{ obj.kmi}} <br>
  {% endfor %}
  </div>


  {% endblock %}


  {% for obj in qs %}
  Month: {{ obj.month}} <br>
  Overall Sat: {{ obj.overall}} <br>
  Driver sat: {{ obj.driver}} <br>
  KMI Sat: {{ obj.kmi}} <br>
  {% endfor %}
  {% for obj in ds %}
  Name: {{ obj.name}} <br>
  Calls Run: {{ obj.paidCalls}} <br>
  Resp time: {{ obj.rt60}} <br>
  tos: {{ obj.tos}} <br>
  {% endfor %}

  var endpoint = 'api/chart/data'
  var defaultData = []
  var lables = []

  $.ajax({
  method: 'GET',
  url: endpoint,
  success: function (data) {
  lables = data.labels
  defaultData = data.default
  console.log(data)

  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
  labels: lables ,
  datasets: [{
  label: '# Paid Calls',
  data: defaultData,
  }],
  }
  })
  },
  error: function (error_data) {
  console.log('error',error_data)
  },
  })