{% extends "base.html" %} 
{% load static %}
{% block content %}
{% for sat in sats %}
<div class="container my-3">
  <h2>Shop Stats</h2>

  <div class="row text-center">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Month</h5>
          <p class="card-text">{{sat.month}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ovrall Stat</h5>
          <p class="card-text">{{sat.overall}} %</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Driver Stat</h5>
          <p class="card-text">{{sat.driver}} %</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Response</h5>
          <p class="card-text">{{sat.response}} %</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">KMI</h5>
          <p class="card-text">{{sat.kmi}} %</p>
        </div>
      </div>
    </div>
    
  </div>
  <br>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">AAA Calls Ran</h5>
          <p class="card-text">{{sat.aaacalls}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Under 60 Min</h5>
          <p class="card-text">{{sat.under60Min}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lost Calls</h5>
          <p class="card-text">{{sat.lostCalls}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
<hr>
<h2>Driver Stats</h2>
<table class="table table-hover">
  <thead class="thead-dark text-center">
    <tr>
      <th scope="col">Driver</th>
      <th scope="col">Paid Calls</th>
      <th scope="col">Under 60</th>
      <th scope="col">Avg Tos</th>
      <th scope="col">Avg Tow</th>
      <th scope="col">Driver Sat</th>
      <th scope="col">Overall Sat</th>
    </tr>
  </thead>
 
  
  {% for obj in driver %}
  {% if obj.is_active  %}
 
  <tbody class="tabel-striped text-center">
    <tr>
      <th>{{obj.name}}</th>
      <td>{{obj.paidCalls}}</td>
      <td>{{obj.rt60}} %</td>
      <td>{{obj.tos}} Min</td>
      <td>{{obj.minIntow}} Min</td>
      <td>{{obj.driversat}} %</td>
      <td>{{obj.overallsat}} %</td>
    </tr>
  </tbody>
 
  {% endif %}
  {% endfor %}
  
</table>
</div>

{% endblock %}

