{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="container text-center logo">
    <br>
    <img src="{% static 'img/GST_logo.png'' %}" class="img-fluid" alt=""><br>
    <hr>

    <br>
    <br>
    <h5>Serving the Greater Sacramento areas: North Sacramento, Antelope, North Highlands Rio Lind, Roseville, Rocklin &
      Granite Bay</h5>
    <h5>Also serving the Yuba City and Marysville areas</h5>
    <br>
    <hr>
  </div>
  <div class="container text-center contact">
    <div class="row justify-content-md-center">
      <div class="col col">

      </div>
      <div class="col-md-9 contact">
        <h2>About Us</h2>
        <br>
        <br>
        <p>
          Golden State Towing, LLC moved from Pleasanton, CA to Sacramento, CA in July 2005. We have been established
          <br>since 1998 as a towing and ERS vendor with all of the auto clubs, excluding AAA in the Pleasanton,
          <br>Livermore and Dublin area. In May 2005 we signed a contract with AAA to provide service for the “Arden
          <br>Arcade” area of Sacramento, thus began the journey to Sacramento. We needed to find a new location,
          ,<br>purchase new trucks and get them painted yellow (from our familiar burgundy) and hire quality drivers.
          ,<br>This has all been an exciting and rewarding challenge for both Millie and I. My wife Lisa, son Cody and I
          <br>sold our home in Livermore and moved to Carmichael in August 2005. Millie commutes from her home in Castro
          <br>Valley two days a week.
          <br>
          <br>

          <br>
          <br>
          <br>We look forward to a long successful relationship with you and our other accounts in the wonderful
          <br>Sacramento Valley.
        </p>


      </div>
      <div class="col col">

      </div>
    </div>
  </div>

  {% endblock %}